<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_links}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-item">
                        <figure>
                            <img style="width: 40vw; align-items-center" src="https://res.cloudinary.com/dffslbdai/image/upload/v1657316406/ugyipazwo59r1olxfnf9.jpg" alt="mahindra" class="img-fluid" title="creator image">>
                        </figure>
                        <p>Welcome to Blog App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button class="btn btn-primary">go back</button></a>


                    </div>
                </div>
            </div>
        </div>

        <!-- footer section -->
        {{>footer}}

</body>

</html>