<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_links}}
</head>

<body>
    {{>navbar}}
    <section class="position-absolute top-20 start-50 translate-middle-x mx-auto p-5">
        {{!-- all data will come from here --}}
    </section>
</body>
<script src="/js/inputHandler.js"></script>

</html>