<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/home.css">
{{>head_links}}
</head>

<body>
  {{>navbar}}

  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <h1>How are you doing...</h1>
      <h3>Unmissable Adventure Tours With Your Friends</h3>
      <a href="/login" class="btn mb-2">Login</a>
      <a href="/signup" class="btn mb-2">Signup</a>
    </div>
  </section>
</body>

</html>