<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_links}}

<body style="background: url('https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&w=1600') no-repeat; background-size: 100%;">
    {{>navbar}}
    <div class="modal-dialog"  role="document" style="top:10rem; ">
        <div class="modal-content" style=" background-color: rgba(245, 245, 245, 0.4);">

            <div class="modal-header justify-content-center">
                <img src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-PNG-Photos.png"
                    alt="avatar" class="rounded-circle img-responsive" style="width: 10rem;">
            </div>
            <div class="modal-body text-center mb-1" >
                <h5 class="mt-1 mb-2">Welcome</h5>
                <hr>
                <form action="/checkUser" method="POST" onsubmit="sendData()" >
                    <div class="form-floating mb-4">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Email</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" name="email" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="email" autofocus required>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Password</label>
                        <div class="input-group">
                            <div class="input-group-text">#</div>
                            <input type="password" name="password" class="form-control"
                                id="inlineFormInputGroupUsername" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary" id="inlineFormInputGroupUsername">Login</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
    {{>footer}}

</body>

</html>