<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_links}}

<body
    style="background: url('https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&w=1600') no-repeat; background-size: 100%">
    {{>navbar}}
    <div class="modal-dialog" role="document" style="width: 50vw; top:10rem; ">
        <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.5);">

            <div class="modal-header justify-content-center">
                <img src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-PNG-Photos.png" alt="avatar"
                    class="rounded-circle img-responsive" style="width: 10rem;">
            </div>
            <div class="modal-body text-center mb-1">
                <h5 class="mt-1 mb-2">Welcome</h5>
                <hr>
                <form action="/getData" method="POST" onsubmit="sendData()">
                    <div class="form-floating mb-4">
                        <div class="input-group">
                            <div class="input-group-text">Aa</div>
                            <input type="text" name="name" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="enter name" autofocus required>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Email</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" name="email" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="email" required>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <label class="visually-hidden" for="inlineFormInputGroupUsername">Password</label>
                        <div class="input-group">
                            <div class="input-group-text">#</div>
                            <input type="password" name="password" class="form-control"
                                id="inlineFormInputGroupUsername" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="text-center mt-3 mb-3">
                        <button type="submit" class="btn btn-warning" id="inlineFormInputGroupUsername">Signup</button>

                    </div>
                </form>
            </div>

        </div>
    </div>

    {{>footer}}

</body>

</html>