<footer class="text-center text-white fixed-bottom" style="background-color: #242324;">
      <div class="text-center p-3">
        <a class="text-white" href="/"><p>created with â¤ï¸ by Mahendra</p></a>
      </div>
</footer>