<section class="intro">
    <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal fade" id="pop-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsIUuXBTnhTm24HWLK9rHvJ5dkZMElOSUFag&usqp=CAU"
                            alt="avatar" class="rounded-circle img-responsive">
                    </div>
                    <div class="modal-body text-center mb-1">
                        <h5 class="mt-1 mb-2">Mahendra</h5>
                        <form action="/checkUser" method="POST">
                            <div class="form-floating mb-2">
                                <label class="visually-hidden" for="inlineFormInputGroupUsername">Name</label>
                                <div class="input-group">
                                    <div class="input-group-text">Aa</div>
                                    <input type="text" name="name" class="form-control"
                                        id="inlineFormInputGroupUsername" placeholder="enter name" required>
                                </div>
                            </div>

                            <div class="form-floating mb-2">
                                <label class="visually-hidden" for="inlineFormInputGroupUsername">Password</label>
                                <div class="input-group">
                                    <div class="input-group-text">#</div>
                                    <input type="password" name="password" class="form-control"
                                        id="inlineFormInputGroupUsername" placeholder="Password" required>
                                </div>
                            </div>


                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-light"
                                    id="inlineFormInputGroupUsername">Login</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#pop-login">Login</a>
    </div>

</section>